body {
    text-align: center; /*Esto alinea todo el sitio al centro*/
    background-color: #001d3d;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: #ffc300ff;
}

h2, h3 {
    color: #ffc300ff;
}

nav, footer {
    background-color: #ffd60aff;
}

/*PALETA DE COLORES
--sky-blue: #8ecae6ff;
--blue-green: #219ebcff;
--prussian-blue: #023047ff;
--selective-yellow: #ffb703ff;
--ut-orange: #fb8500ff;

--rich-black: #000814ff;
--oxford-blue: #001d3d;
--yale-blue: #003566ff;
--mikado-yellow: #ffc300ff;
--gold: #ffd60aff;
*/

.titulo {
    margin: 60px;
}

nav ul, footer ul {
    display: grid;grid-auto-flow: column; /*Esto ordena todo en una sola columna*/
    list-style: none; /*ESto le saca el puntito a los elementos de la lista*/
    padding: 1rem;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: #003566ff;
    font-size: 1.5  rem;
}

a:hover {
    text-decoration: underline;
}

.box2 img {
    width: 116px;              /* ancho deseado */
    height: 174px;             /* alto deseado */
    object-fit: cover;         /* recorta la imagen si es necesario sin deformarla */
  }

.box3 img {
    width: 203px;              /* ancho deseado */
    height: 305px;             /* alto deseado */
    object-fit: cover;         /* recorta la imagen si es necesario sin deformarla */
  }

.container-form{
    display: grid;
    /*grid-template-areas:
    "aside section aside";
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;*/
    
    grid-template-areas:
    "section";
    margin-left: 15%;
    margin-right: 15%;
    grid-template-columns: 1fr;
    background-color: #001d3d;

}

.formulario-contacto {
    background-color: #003566ff;
    padding: 1rem;
    color: #ffd60aff; 
}

input, select, textarea, button {
    align-self:  center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.25rem;
    margin-left: 15%;
    margin-right: 15%;
}

button {
    background-color: #ffc300ff;
    color: #001d3d;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
}

.formulario {
    display: grid;
    margin-bottom: 15px;
}

.otros {
    display: none;
}

.agradecimiento {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr;
    gap: 2rem;
    padding: 1rem;
}

.grid-container-movies {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    gap: 2rem;
    padding: 1rem;
}

.sobre-nosotros {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    gap: 2rem;
    padding: 1rem;
    margin-left: 15%;
    margin-right: 15%;
}

.box, .box3{
    display: block;
    /*border: 1px solid #ccc;*/
    padding: 1rem;
    text-align: center;
    background-color: #003566ff;
}

.box2 {
    display: block;
    padding: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}

.box2 p {
    color: #ffc300ff;
}

.opinion {
    font-size: 1.5rem;
}

.comentario {
    font-size: 1rem;
}

#staff {
    max-width: 60%;
    max-height: 60%;
    margin-bottom: 4rem;
    border: 20px solid #ccc;
    border-color: #000814ff;
    border-radius: 0.5rem;
}

.ventas, .contabilidad {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    gap: 2rem;
    padding: 1rem;
    margin-left: 15%;
    margin-right: 15%;
}

@media (max-width: 1023px) {
    .grid-container {
        grid-template-columns: auto auto;
    }

    .grid-container-movies {
        grid-template-columns: auto auto;
    }
    .sobre-nosotros {
        grid-template-columns: auto;
    }


    /*.container-form {
        grid-template-areas:
        "section";
        margin-left: 15%;
        margin-right: 15%;
        grid-template-columns: 1fr;
    }*/
}

@media (max-width: 767px) {

    nav ul {
        grid-auto-flow: row;
    }

    .grid-container {
        grid-template-columns: auto;
       }

    .grid-container-movies {
        grid-template-columns: auto;
    }

    .ventas, .contabilidad {
        grid-template-columns: auto;
    }
    .container-form {
        grid-template-areas:
        "section";
        grid-template-columns: 1fr;
        margin-left: 0%;
        margin-right: 0%;
    }
}